######################################################
# Common configuration for [filament_manager]
######################################################
# [filament_manager]
# multi_material_unit: bool    # Defaults to False. If the printer has multi material unit hardware
#
[filament_manager]
######################################################
# Common configuration for [filament_motions_manager]
######################################################
# [filament_motions_manager]
# bucket: True                        # Defaults to False. If the toolhead has a bucket object 
# move_to_previous: True              # Defaults to False. If the toolhead moves back to previous position after executing a filament movement 
# managed_extruders: list[str]        # Defaults to extruder. Indicate in a list which extruders will have filament motions available 
# movement_speed: int                 # Defaults to 100 mm/s. Indicates the speed of movements
[filament_motions_manager]
bucket: True
move_to_previous: True
managed_extruder: list[str]
movement_speed: int
######################################################
# Common configurations for creating [filament_motion]
######################################################
# [filament_motion name]
# direction: [positive|negative]      # Defaults to positive: Specifies the direction of the filament movement
# extruder_speed: int                 # Defaults: 10mm/s. Specifies the speed for extruder movements
# timeout: float                      # Defaults to 300s == 5min (float): Specifies the maximum amount of time, mm or seconds
# timeout_type: [time|distance]       # Defaults to time: Specifies the maximum amount of time or distance for the movement
# Below is the definition for filament sensors
# pre_gate_sensor:                    # Required: Filament Sensor where the filament is inserted. Usually a filament sensor before the main filament presence sensor 
# end_gate_sensor:                    # Optional: Filament Sensor Between the other two. Usually it's a 
# gate_sensor:
# post_gate_sensor:                   # Required: The main filament presence sensor which indicates that filament is present

[filament_motion load]
pre_gate_sensor: filament_switch_sensor feeder_sensor
gate_sensor: cutter_sensor extruder_cutter
direction: positive
extruder_speed: 10  
timeout: true
timeout_type: time

[filament_motion unload]
pre_gate_sensor: filament_switch_sensor feeder_sensor
gate_sensor: cutter_sensor extruder_cutter
direction: negative
extruder_speed: 10  
timeout: true
timeout_type: time




