######################################################
######################################################
# Common configuration for [filament_manager]
######################################################
######################################################
# [filament_manager]
# multi_material_unit: bool    # Defaults to False. If the printer has multi material unit hardware
#
[filament_manager]



######################################################
######################################################
# Common configuration for [filament_motions_manager]
######################################################
######################################################
# [filament_motions_manager]
# bucket: True                        # Defaults to False. If the toolhead has a bucket object 
# move_to_previous: True              # Defaults to False. If the toolhead moves back to previous position after executing a filament movement 
# managed_extruders: list[str]        # Defaults to extruder. Indicate in a list which extruders will have filament motions available 
# movement_speed: int                 # Defaults to 100 mm/s. Indicates the speed of movements
[filament_motions_manager]
bucket: True
move_to_previous: True
managed_extruder: list[str]
movement_speed: int





######################################################
######################################################
# Common configurations for creating [filament_motion]
######################################################
######################################################
# [filament_motion name]
# Motion relative to a toolhead extruder
toolhead_extruder: extruder

# Defaults to False
# Specifies if the movement requires heating the extruder 
require_heating: False

# Auxiliary `extruder`
# A configured extruder_stepper object that aids the main extruder
# activating in sequence from aux_extruder to aux_extruderX
# To achieve this it is recommneded to associate a activation
# sensor for each auxiliary extruder, `aux_extruder_sensorX`
# when each sensor is hit, the next auxiliary extruder activates 
# and starts moving 
# One may define up to 100 auxiliary extruders and sensors 
aux_extruder:

# Aux extruder activation sensor 
# Optional. One may define up to 99 activation sensor
# if only one aux extruder is used the available gate and
# other sensors can be used as activation
aux_extruder_sensor: 
# Specify the bucket object associated with this filament motion
# if the bucket is configured then the motion will be executed 
# on the bucket position
bucket:

# Defaults to 'positive'. 
# Specifies the direction of the filament movement, choose between 'positive' and 'negative'
direction: 'positive'

# Defaults to 10 mm/s. Specifies the speed for extruder movements 
extruder_speed: 10

# Required if no sensors are configured. Defaults to 300s == 5 min (int). 
# Specifies the maximum amount of time or distance in mm, seconds
timeout: 300

# Required no sensors are set. 
# Defaults to 'time'. Specifies the type of timeout to use. 
# Choose between 'time' and 'distance'
timeout_type: time

# Specifies the sensor to use on for filament verification on the routine. 
# This sensor is used to verify filament presence before the auxiliary extruder gears.
# Usually a generic filament_switch_sensor or a filament_motion_sensor
# Optional. Needs to be configured for usage
sensor_pre_gate: None

# Specifies the sensor after the extruder gears. 
# This sensor is used to verify filament presence after the auxiliary extruder gears.
# Usually a generic filament_switch_sensor or filament_motion_sensor
# Optional. This sensor should be optionally configured when there is a 
# auxiliary extruder on the filament path.
sensor_post_gear: None

# Specifies the main filament sensor that determines filament presence 
# This filament is required for a filament_motion aided with sensors
# If the timer is configured then this option can not be configured 
# but the motion will not use sensors. 
# This sensor can be a filament_switch_sensor, filament_motion_sensor, 
# belay, cutter_sensor. All of them work to indicate filament presence
sensor_gate: 

# Specifies a compression/tension 
# This specifies the presence of a belay/sync feedback sensor.
sensor_sync_feedback:

# Specifies an additional sensor. This sensor should be placed after 
# the gate sensor. Helps with verification. 
# Specifies the sensor that verifies filament presence 
# This sensor can be a filament_switch_sensor ,filament_motion_sensor, 
# and a cutter sensor
sensor_post_gate:

# Specifies an additional sensor. This sensor is placed after the 
# main extruder gears.
# Indicates the absolute truth if filament is present on the toolhead
# or not.
# Optional. Can be configured as a cutter_sensor, filament_switch_sensor
# filament_motion_sensor
toolhead_sensor:

# Extruder sensor is the sensor right before the extruder gears
sensor_extruder: 

# Show debug messages on console. 
# Defaults to 0
debug : 0



