# This file contains example pin mappings for testing with the
# "simulavr" program. To use this config, compile the firmware for an
# AVR atmega644p, enable "low-level configuration options", and enable
# "simulavr software emulation". Further details are in
# docs/Debugging.md.




#[filament_motion LOAD]
#debug: 0 
#extruder: extruder 
#sensor_pre_gate: cutter kdkdkdkdkdk
#sensor_gate: filament_switch_sensor alskdfjlaskdfj
#sensor_extruder: filament_motion_sensor açsllllslslslsl
#timeout: 300
#direction: positive
#timeout_type: time


































[mcu]
#serial: /tmp/pseudoserial
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506108A9AB1C-if00


[printer]
kinematics: none
max_velocity: 500
max_accel: 3000









#[temperature_sensor mcu]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

#[temperature_sensor dummy]
#sensor_type: temperature_combined
#sensor_list: temperature_sensor mcu
#combination_method: mean
#maximum_deviation: 999.9


#[extruder_stepper aux_extruder] #X
#extruder: extruder
#step_pin: gpio11
#dir_pin: !gpio10
#enable_pin: !gpio12
#microsteps: 16
#rotation_distance: 40

#[tmc2209 extruder_stepper aux_extruder]
#uart_pin: gpio9
#tx_pin: gpio8
#uart_address: 0
#run_current: 0.5
#hold_current: 0.4

#[extruder_stepper gate_extruder] #Y
#extruder: extruder
#step_pin: gpio6
#dir_pin: !gpio5
#enable_pin: !gpio7
#microsteps: 16
#rotation_distance: 40

#[tmc2209 extruder_stepper gate_extruder]
#uart_pin: gpio9
#tx_pin: gpio8
#uart_address: 2
#run_current: 0.5
#hold_current: 0.4

[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio23
sensor_type: temperature_mcu
#sensor_pin: gpio27
control:watermark
min_temp: 0
max_temp: 560
min_extrude_temp: 1

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.650
hold_current: 0.900
stealthchop_threshold: 999999








#[include moonraker.conf]
[include mainsail.cfg]
# See docs/Config_Reference.md for a description of parameters.
[virtual_sdcard]
path:~/printer_data/gcodes/

[respond]
[display_status]
[pause_resume]

[force_move]
enable_force_move: true

